<div ng-controller="BooksController">
    <div class="page-header">
        <h3>Acervo da biblioteca</h3>
    </div>
    <div class="col-xs-4 col-lg-2 well">
       <img src="http://statics.livrariacultura.net.br/products/capas/192/11008192.jpg">
        <div class="status-book">
            <i class="fa fa-ban fa-3" aria-hidden="true"> n/a</i>
            <i class="fa fa-check-circle-o fa-3" aria-hidden="true"> disponível</i>
        </div>
       <a href="#">Batman</a>
       <p>Frank Miller</p>
       <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-xs-4 col-lg-2 well">
        <img src="http://statics.livrariacultura.net.br/products/capas/192/11008192.jpg">
        <div class="status-book">
            <i class="fa fa-ban fa-3" aria-hidden="true"> n/a</i>
            <i class="fa fa-check-circle-o fa-3" aria-hidden="true"> disponível</i>
        </div>
        <a href="#">Batman</a>
        <p>Frank Miller</p>
        <p><a class="btn btn-default" href="#" role="button">View details »</a></p>
    </div>
</div>