<div ng-controller="HomeCtrl">
    <div class="col-xs-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Livro Emprestado</div>
            <div class="panel-body">
                <p>Nome do livro</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Data de Entrega</div>
            <div class="panel-body">
                <p>Data</p>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-md-4">
        <div class="panel panel-warning">
            <div class="panel-heading">Total de livros já retirados</div>
            <div class="panel-body">
                <p>8</p>
            </div>
        </div>
    </div>
</div>
